html, body {
    background: #000;
    min-height:100%;
    width:100%;
    margin:0;
    padding:0;
}

#head {
    background: linear-gradient(to bottom right, #807E7E, #2E2E2E);
    height: 160px;
    padding-left: 80px;
    margin:0 auto;
}

#head #cy {
    float: right;
    height: 150px;
    padding-right: 80px;
}

#navcontainer {
    background:linear-gradient(to bottom right, #E68A00, #7D4100);/*#C46500);*/
    width: 14%;
    padding-top: 10px;
    position:absolute;
    min-height: 140%;
    border-top: 2px solid #000;
}

#nav {
    margin:0;
    list-style:none;
}
#nav li {
    padding-bottom: 4px;
    width:98%;
}
#nav a {
    display:block;
    text-align:center;
    font-size: large;
    color:#000;
    line-height:3.2em;
    text-decoration:none;
    margin-left:-37px;
    font-weight:bold;
    border:2px solid #000;
}
#nav a:hover, #nav a:focus {
    background: #B86E00;
    color: #FFF;
    font-size: large;
}

#wrapper {
    margin-left:0 auto;
    text-align:center;
    width:100%;
}

#main {
    display:inline-block;
    padding-top: 20px;
    padding-bottom: 50px;
    color:#FFF;
    padding-left:12%;
}

#title {
    width:100%;
    color:#FFF;
    padding-left: 10px;
}

#title h1 {
    padding-left:14%;
    font-family:arial;
    font-size:xx-large;
    border-bottom: 2px solid #E68A00;
}

#contact {
    float:left;
}

#descmail {
    border-bottom: 2px solid #E68A00;
    padding-top:10px;
    font-family:arial;
    font-size:large;
    text-align:left;
}

#descemail {
    border-bottom: 2px solid #E68A00;
    padding-top:10px;
    font-family:arial;
    font-size:large;
    margin-top:-42px;
    text-align:left;
}

.box {
    float:left;
    height:190px;
    margin-top:30px;
    /*margin-left:50%;*/
    margin-left:2px;
    border: 10px solid #E68A00;
    box-shadow: 5px 3px 2px #7D4100;
}

.box p {
    padding: 10px;
    font-family:arial;
    text-align:left;
    font-size:large;
    color:#A1A1A1;
    margin:auto;
}